.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {  
    max-width: 100%; 
    min-width: 420px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #2c3e50;

}
.content
{
    display: block;
    height: 65vh;
    overflow-y: auto;
}

/* Style the tabs */
.tabs {
    overflow: hidden;
    margin-left: 20px;
     margin-bottom: -2px; /*hide bottom border */
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: flex-start;
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}

.tabs a{
    float: left;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: 1px solid #E21A1A;
    border-right: none;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}
.tabs a:last-child { 
    border-right: 1px solid #E21A1A;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: #aaa;
    color: #000000;
}
.tabs a.active:hover {
    color: #000000;
}

/* Styling for active tab */
.tabs a.active {
    background-color: #E21A1A;
    color: #ffffff;
    border-bottom: 2px solid #E21A1A;
    cursor: default;
}

/* Style the tab content */
.tabcontent {
    padding: 10px;
    border: 1px solid #E21A1A;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #e1e1e1;
    height: 100%;
    overflow-y: auto;
}
