   .v-datatable-light .header-item {
    cursor: pointer;
    color:#337ab7;
    transition: color 0.15s ease-in-out;
    border: 1pt solid hsl(218, 25%, 79%);
    text-align: center;
    vertical-align: middle;
  }
  .v-datatable-light .header-item:hover {
    color: #ed9b19;
  }
  .v-datatable-light .header-item.no-sortable{
    cursor: default;
  }
  .v-datatable-light .header-item.no-sortable:hover {
    color: #337ab7;
  }
  
  .v-datatable-light ,
  .v-datatable-light .body-item
  {
  text-align: center;
  vertical-align: middle;
  padding: 0 .5em;
  }
  .v-datatable-light .btn-act
  {
    cursor: pointer;
    background: #ffffff;;
    width: 30px;
    height: 30px;
    padding: 0 .4em;
    color:  #337ab7;
   }
   .v-datatable-light .btn-act:hover
   {
    color: #ed9b19;
   }

    .equipment-table .view-hide:nth-child(1),
    .equipment-table .edit-hide:nth-child(2),
    .equipment-table .copy-hide:nth-child(3),
    .equipment-table .delete-hide:nth-child(4){ 
        display: none;
    }

    .repair-table .edit-hide:nth-child(1),
    .repair-table .delete-hide:nth-child(2){ 
        display: none;
    }
    .repair-table td:nth-child(1),
    .repair-table td:nth-child(2)
   {
      width: 5em
    }

    .query-table .edit-hide:nth-child(1),
    .query-table .delete-hide:nth-child(2){ 
      display: none;
    }

    /* .metrology-table .view-hide:nth-child(1), */
    .metrology-table .edit-hide:nth-child(1),
    .metrology-table .delete-hide:nth-child(2){ 
        display: none;
    }

    .contract-table .edit-hide:nth-child(1),
    .contract-table .delete-hide:nth-child(2),
    .contract-table .unite-hide:nth-child(3){ 
        display: none;
    }
    .contract-table td:nth-child(1),
    .contract-table td:nth-child(2)
   {
      width: 5em
  }
  .admin-user-table .view-hide:nth-child(1),
  .admin-user-table .edit-hide:nth-child(2),
  .admin-user-table .delete-hide:nth-child(3){ 
      display: none;
  }
  .admin-user-table td:nth-child(1),
  .admin-user-table td:nth-child(2),
  .admin-user-table td:nth-child(3)
   {
      width: 5em
    }
     